body {
  background-repeat: no-repeat;
  background-position: center;
  background-color:#FF8856;
  color: #000;
}

.navbar-laravel {
  background-color: #FF8856;
  box-shadow: 0 12px 4px rgba(0, 0, 0, 0.1);
  font-family: Impact;
}

.navbar-brand {
  color: #000 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #FF8856;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.2);
}

.login-header {
 background-color: rgba(0, 0, 0, 0.5);
}

.login-body {
background-color: rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #000;
  border-color: #000;
  background-color: #FF8856;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.2);
  background-color: #FF8856;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: #FF8856;
}
